<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        h1{color: red;}
        body{background-color:grey;}
    </style>
</head>
<body>
    <h1>Django-project</h1>
    <ul>
        <li>
        <p>The name of the Django-project is polls app and it add the title (name of the entities) and give the rating for the entities. </p>
        </li>
        <li>
            To make this project we use python and postgres (Database) and also web framework named Django
        </li>
    </ul>


</body>
</html>