<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<form   action='{% url "login_form" %}' method=POST>
    {% csrf_token %}
     <label>Username : </label>
  <input type="text" placeholder="Enter Username" name="username" required><br><br>
  <label>Password : </label>
  <input type="password" placeholder="Enter Password" name="password" required><br><br>
  <button type="submit">Login</button>
  <input type="checkbox" checked="checked"> Remember me
  <button type="button" > Cancel</button>
  Forgot <a href="#"> password? </a>
</form>

</body>
</html>