{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Poll</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'base/base.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
</head>
<body>
<!---------- Navigation bar -------------->
{% include 'nav.html' %}
<h2>Polls list</h2>
<button id="click">Click Me</button>
{% for poll in polls %}
<div  class="poll-class box a">
    <a href="{% url 'poll_details' poll.id %}">
    <h3 class ="title" id="{{poll.id}}">{{poll.title}}  {{poll.rating}}</h3>
    </a>
    <a class = 'button right rate' data="{{poll.id}}">Like(+1)</a> <!--href="{% url 'rate' poll.id%}"--->
</div>
{% endfor %}
<br><br>
<a class = 'button right' href="{% url 'create_poll' %}">Create New poll</a>
</body>
<script>
    $(".rate").click(function(){
   let pollId =$(this).attr('data');
    let url= '/polls/rate/'+pollId+'/'
    $.ajax({
            url: url,
            method: 'GET',
            success: function(response){
                $(`#`+pollId).html(response.title+' '+ response.rating);
                }
            })
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</html>