<% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
   <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'base/base.css' %}">
</head>
<body>
<!------Navigation bar ------------->

{% include 'nav.html' %}

<h1>Polls list</h1>
{% for poll in poll_list %}
 <div class="poll-class bax a">
   <a href="{% url 'poll_details' poll.id">
     <h3 class="title">{{poll.title}} {{poll.rating}}</h3>
   </a>
   <a>
     class='button right' href="{% url 'rate' poll.id %}> Like (+1)"
   </a>
   {% endfor %}
 </div>
<br> <br>
<a href="{% url 'create_poll' %}">Create New Poll</a>
</body>
</html>