<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Registration Template</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'base/base.css'%}">
</head>
<body>
<!---------- Navigation bar -------------->
{% include 'nav.html' %}

<form action='{% url "registration_form" %}' method=POST>
    {% csrf_token %}
  <label>firstName</label>
  <input type="text" name = "firstname"><br><br>
 <label>lastName</label>
  <input type="text" name = "lastname"><br><br>
  <label>userName</label>
  <input type="text" name = "username"><br><br>
    <label>email</label>
  <input type="text" name= "email"><br><br>
  <label>Password</label>
  <input type ="password" name = "password"><br><br>
    <label>Submit</label>
    <input type="submit">

</form>
</body>
</html>
